html {
  overflow-y: scroll;
}

body {
  margin:0px;
  padding:0px;
  background:#f4e7bd;
  color:black;
}
	
.page-wrapper {
  max-width: 980px;
  margin: 0 auto;
  width:100%;
  font-family:  sans-serif;
}

.header {
  margin: 0px;
  padding: 0px;
  background-image: url(images/top.jpg);
  background-repeat: no-repeat;
  color:#f4e7bd;	
}

.menu ul {
  margin: 0;
  padding: 0;
}

.span12 {
  font-size:60px;
  font-weight:bold;
  padding-top:5%;
  padding-bottom:2%;
  text-align:center;
  color: #fff;
}

.menu {
  text-align: right;
}

.menu-item {
  display:inline;
  list-style:none;	
  margin-right:20px;
  padding-right:15px;	
  color:white;	
}

.menu li:after {
  color:#f4e7bd;
  content: ('|')
}

.menu li:last-child {
  border: none;
}

.menu a {
  text-decoration:none;
  color:inherit;
  background-image: url(images/menu.jpg) no-repeat;
}

.content .span3 {
  height:100%;
}

.topic-list {
  margin-left:0px;	
  padding:20px;
  list-style:none;
  background:#6b5927;
  border:1px solid #846f34;
  color:#000000;
  height:100%;
  font-size:18px;
}

.topic {
  padding-bottom:10px;
}

.left-panel {
  margin-bottom:40px;
  text-align:justify;
  color:black;
}

span {
  color:#99930d;
  font-size:18px;
  font-weight:bold;
  display:block;
}

ul  ul {
  display:none;
}

ul li:hover > ul {
  display:block;
}

.main-content .left-panel ul {
  color: #99930d;
  list-style:none;
}

.main-content .left-panel ul a {
  color: inherit;
  text-decoration:none;
}

.main-content .left-panel {
  float: left;
  width: 30%;
}

.main-content .right-panel {
  float: right;
  width: 70%;
}

.main-content {
  display: inline-block;
  margin-top: 2em;
}